{% extends 'navbar.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Change Password</title>
        <link rel="stylesheet"
              href="{% static "account/change_password/css/style.css" %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                charset="UTF-8"></script>
    {% endblock %}
</head>

<body>
{% block body %}
    <form action="" class="login-form" method="POST">
        <h1>Change Password</h1>
        {% csrf_token %}
        <div class="txtb">
            <input type="password" name="old_password" minlength="4"
                   maxlength="25" required>
            <span data-placeholder="Old Password"></span>
        </div>

        <div class="txtb">
            <input type="password" name="new_password" minlength="4"
                   id="new_password" maxlength="25" required>
            <span data-placeholder="New Password"></span>

        </div>

        <div class="txtb">
            <input type="password" name="new_password_confirm" minlength="4"
                   id="new_password_confirm" maxlength="25" required>
            <span data-placeholder="Confirm Password"></span>

        </div>

{#        <span id='message'> matching </span>#}
        <input type="submit" class="loginbtn" id="submit_btn" value="Change">

    </form>

    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass('focus');
        });

    </script>

{#    <script>#}
{#        var check = function () {#}
{#            if (document.getElementById('new_password').value ==#}
{#                document.getElementById('new_password_confirm').value) {#}
{#                document.getElementById('message').style.color = 'green';#}
{#                document.getElementById('message').innerHTML = 'matching';#}
{#                document.getElementById('submit_btn').disabled = false;#}
{#            } else {#}
{#                document.getElementById('message').style.color = 'red';#}
{#                document.getElementById('message').innerHTML = 'not matching';#}
{#                document.getElementById('submit_btn').disabled = true;#}
{#            }#}
{#        }#}
{#    </script>#}

    {% endblock %}
</body>
</html>