{% extends 'navbar.html' %}

{% block head %}
    <title>Registration</title>
{% endblock %}

{% block body %}
<h2 style="margin-top: 10px;" align="center">Registration</h2>

<div align="center">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
{#                {% if field.help_text %}#}
{#                    <small style="color: grey">{{ field.help_text }}</small>#}
{#                {% endif %}#}
                {% for error in field.errors %}
                    {% csrf_token %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>

</div>

    <script>
    var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
    </script>
{% endblock %}