.my_input {
    width: 100%;
    border: none;
}

.my_input:focus {
    outline: none;
    border: none;

}

.number::-webkit-inner-spin-button {

  -webkit-appearance: none;
  margin: 0;

}

.number {
    -moz-appearance:textfield;
}

#id_submit {
    float: right;
}