{% extends 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Title</title>
    {% endblock %}
</head>
<body>

{% block body %}
    <h1 align="center">{{ category.name }}</h1>
    {% if category.type == 'Current' %}
        <h2 align="center">Income: {{ category_outcome }}</h2>
        <h2 align="center">Outcome: {{ category_income }}</h2>
    {% else %}
        <h2 align="center">Income: {{ category_income }}</h2>
        <h2 align="center">Outcome: {{ category_outcome }}</h2>
    {% endif %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Value</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>

        {% for operation in operation_list %}
            <tr>
                {% if operation.from_category.type == 'Current' %}
                    <td> {{ operation.from_category.name }}</td>
                    <td> {{ operation.to_category.name }}</td>
                    <td>-{{ operation.value }}</td>
                    <td> {{ operation.date }}</td>
                {% else %}
                    <td> {{ operation.from_category.name }}</td>
                    <td> {{ operation.to_category.name }}</td>
                    <td> {{ operation.value }}</td>
                    <td> {{ operation.date }}</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
</body>
</html>