{% extends 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Operation</title>
    {% endblock %}
</head>
<body>
{% block body %}

    <p align="center" style="margin-top: 10px"><a class='btn btn-primary'
          href="{% url 'operation_create' %}">Create new operation</a></p>
    <h1 align="center">Operations</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Value</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>

        {% for operation in user_operation %}
            <tr>
                <td>{{ operation.from_category.name }}</td>
                <td>{{ operation.to_category.name }}</td>
                <td>{{ operation.value }}</td>
                <td>{{ operation.date }}</td>
            </tr>
        {% endfor %}


        <tr>

        </tbody>
    </table>
{% endblock %}
</body>
</html>