{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet"
              href="{% static 'operation/operation/css/style.css' %}">
        <title>Operation</title>
    {% endblock %}
</head>
<body>
{% block body %}

    <p align="center" style="margin-top: 10px"><a class='btn btn-primary'
                                                  href="{% url 'operation_create' %}">Create
        new operation</a></p>

    {{ bar | safe }}
        <h1 align="center">Operations</h1>

    <table class="table" align="center">
        <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Value</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>

        {% for operation in user_operation %}
            <tr>
                {% if operation.from_category.type == 'Current' %}
                    <td>
                        <a class='operation_list_link' href="{% url 'statistic_category' category_id=operation.from_category.id %}">
                            {{ operation.from_category.name }}
                        </a>
                    </td>
                    <td>
                        <a class='operation_list_link' href="{% url 'statistic_category' category_id=operation.to_category.id %}">
                            {{ operation.to_category.name }}
                        </a>
                    </td>
                    <td>-{{ operation.value }}</td>
                    <td> {{ operation.date }}</td>
                {% else %}
                    <td>
                        <a class='operation_list_link' href="{% url 'statistic_category' category_id=operation.from_category.id %}">
                            {{ operation.from_category.name }}
                        </a>
                    </td>
                    <td>
                        <a class='operation_list_link' href="{% url 'statistic_category' category_id=operation.to_category.id %}">
                            {{ operation.to_category.name }}
                        </a>
                    </td>
                    <td> {{ operation.value }}</td>
                    <td> {{ operation.date }}</td>
                {% endif %}
            </tr>
        {% endfor %}


        <tr>

        </tbody>
    </table>
{% endblock %}
</body>
</html>