{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Edit</title>
        <link rel="stylesheet"
              href="{% static 'category/category_edit/css/style.css' %}">
    {% endblock %}
</head>
<body>
{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        <table class="table table-bordered">

            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">New Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ category.name }}</td>
                <td><input class='my_input' name="name" type="text"
                           maxlength="50"
                           placeholder="enter new value if you want to change it">
                </td>

            </tr>
            <tr>
                <td>Type</td>
                <td>{{ category.type }}</td>
                <td><select name="category_type"
                            class="form-control"
                            id="exampleFormControlSelect1">
                    <option value="Outcome">Outcome</option>
                    <option value="Current">Current</option>
                    <option value="Income">Income</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>Month Limit</td>
                <td>{% if category.month_limit < 999999999999 %}
                    {{ category.month_limit }}
                {% else %} Unlimited</li>
                {% endif %}</td>
                <td><input class='my_input number' name="month_limit"
                           type="number"
                           min='1'
                           default="{{ category.month_limit }}"
                           placeholder="enter new value if you want to change it, for unlimited enter very large numberq">
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ category.description }}</td>
                <td><input class='my_input' name="description" type="text"
                           maxlength="58"
                           placeholder="enter new value if you want to change it">
                </td>
            </tr>
            </tbody>
        </table>
        <a href="delete" class="btn btn-info">Delete</a>
        <input id="id_submit" type="submit" class="btn btn-dark">

    </form>

{% endblock %}

</body>
</html>