{% extends "navbar.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
        <title>Category</title>
        <link rel="stylesheet"
              href="{% static 'category/category/css/style.css' %}">
    {% endblock %}
</head>
<body>
{% block body %}
    <p align="center"><a href="{% url 'create_category' %}"> Create new
        category</a></p>

    <div class="container">

        <h2>Your Categories:</h2>

        <div class="categories">
            {% for category in categories %}
                <div class="category">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Name: {{ category.name }}</li>
                        <li class="list-group-item">
                            Type: {{ category.type }}</li>
                        <li class="list-group-item"> Limit:
                            {% if category.month_limit < 999999999999 %}
                                {{ category.month_limit }}
                            {% else %} unlimited</li>
                            {% endif %}
                        <li class="list-group-item description">
                            {{ category.description }}</li>
                        <li class="list-group-item edit"><a
                                href="{% url 'edit_category' category_id=category.id %}">edit</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

</body>
</html>