{% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
        <title>Category</title>

    {% endblock %}
</head>
<body>
{% block body %}
    <p align="center"><a href="{% url 'create_category' %}"> Create new category</a> </p>
    <div class="container" style="margin-top: 15px; display: flex; justify-content: space-evenly; ">
        <div class="all_category">

            <h2>All Categories:</h2>
            {% for category in categories %}
                <p>{{ category.user_id }}</p>
                <p>{{ category.name }}</p>
                <p>{{ category.description }}</p>
                <hr>
            {% endfor %}
        </div>

        <div class="user_category">
            <h2>{{ user }} Categories:</h2>

            {% for user_category in user_categories %}
                <p>{{ user_category.user_id }}</p>
                <p>{{ user_category.name }}</p>
                <p>{{ user_category.description }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>


{% endblock %}

</body>
</html>